body {
    background-color: black;
    color: #e6e6e6;
}
.border {
    border-style: solid;
}
div#output {
    display: inline-block;
    vertical-align: top;
}
#button-evidence_reset {
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
}
.debug {
    font-size: large;
    margin: 5px;
}

legend {
}

fieldset {
    display: inline-block;
    width: 200px;
    background-color: #292929;
    /*box_sizing: border-box;*/
    /*align-items: center;*/
}
.ui-checkboxradio-label {
    background-color: red; !important
}

.ui-button {
    background-color: red; !important
}
.ui-widget {
    background-color: red; !important
}
.ui-checkboxradio-radio-label {
    background-color: red; !important
}
.evidence_label {
    width:100%;
    box-sizing: border-box;
    background-color: red; !important
}

div#main {
    width: 700px;
    text-align: center;
    display: inline-block;
}
div#evidence {
    display: inline-block;
    margin: 0 auto;
}
div#ghost_results {

}

label {
    box_sizing: border-box;
    /*display: block;*/
    /*clear:both;*/
    background-color: red;
    color: red;
}



div.ghost_card {
    /*text-align: center;*/
    /*align-items: center;*/
    border: solid;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    width: 175px;
    background-color: #404040;
}
div.list_ghost_evidence {
    display: inline-block;
}
ul {
    /*list-style-position: inside;*/
    text-align: left;
    padding: 10px;
}

li.crossed {
    color: gray;
    text-decoration: line-through;
}


.ghost-card-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .ghost-card-tooltip .ghost-card-tooltip-content {
    visibility: hidden;
    width: 300px;
    color: black;
    text: "Book Antiqua";
    text-align: left;
    border-radius: 6px;
    padding: 0px 20px 10px 20px;
    background-image: url(../media/parchment.jpg);
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 95%;
  }
  
  .ghost-card-tooltip:hover .ghost-card-tooltip-content {
    visibility: visible;
  }

  .ghost-card-tooltip .ghost-card-tooltip-content h2 {
      text-align: center;
      font-weight: normal;
  }
