body {
    background-color: black;
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif
}
.border {
    border-style: outset;
}
div#output {
    display: inline-block;
    vertical-align: top;
}
#button-evidence_reset {
    margin-bottom: 10px;
    background-color: #f44336;
    color: white;
}
.debug {
    font-size: large;
    margin: 5px;
}

legend {
}

fieldset {
    display: inline-block;
    width: 200px;
    margin-bottom: 5px;
    /*background-color: #292929;*/
    /*box_sizing: border-box;*/
    /*align-items: center;*/
}
.evidence_label {
    width:100%;
    box-sizing: border-box;
    background-color: red; !important
}

div#main {
    width: 700px;
    text-align: center;
    display: inline-block;
    background-image: url(../media/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: border-box;
    background-position: center top;
}
div#evidence {
    display: inline-block;
    margin: 0 auto;
    border: inset;
    padding-top: 120px;
}
div#ghost_results {
    border: inset;
}

.list_evidence {
    padding-top: 0px;
}

label {
    box_sizing: border-box;
    /*display: block;*/
    /*clear:both;*/
    background-color: red;
    color: red;
}



div.ghost_card {
    /*text-align: center;*/
    /*align-items: center;*/
    border-style: groove;
    display: inline-block;
    padding: 10px 5px 0px 5px;
    width: 200px;
    background-color: rgba(64, 64, 64, 0.5);
    margin: 5px;
}
div.list_ghost_evidence {
    display: inline-block;
}
ul {
    /*list-style-position: inside;*/
    text-align: left;
    padding: 10px;
}

li.crossed {
    color: gray;
    text-decoration: line-through;
}


.ghost-card-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .ghost-card-tooltip .ghost-card-tooltip-content {
    visibility: hidden;
    width: 300px;
    color: black;
    text: "Book Antiqua";
    text-align: left;
    border-radius: 6px;
    padding: 0px 20px 10px 20px;
    background-image: url(../media/parchment.jpg);
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 95%;

    pointer-events: none;
  }
  
  .ghost-card-tooltip:hover .ghost-card-tooltip-content {
    visibility: visible;
  }

  .ghost-card-tooltip .ghost-card-tooltip-content h2 {
      text-align: center;
      font-weight: normal;
  }

  .ghost_card-legend {
      font-size: 24px;
      font-weight: bold;
      text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  }

  footer {
    padding: 3px;
    margin-top: 10px;
    background-color: #454545;
    width: 700px;
    text-align: center;

  }

  footer a {
    color: white;
    text-decoration: none
  }
  footer img {
    vertical-align: text-bottom;
  }
  footer hr {
    padding: 0px;
    margin: 0px;
    border-color: black;
    border-width: 2px;
    border-style: ridge none none none;
  }